/* img{
    width: 500px;
    height: 550px;
} */
h1, h2, h3, h4, h5{
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}

body{
    border: 2px;
    position: absolute;
    /* font-family: 'Poppins', sans-serif; */
    /* margin-left: 10px;
    margin-right: 10px; */
    /* display: flex; */

}
header{
    position:sticky;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
    z-index: 1000;

}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  } */
#home{
    margin: 50px;
}

#slider img{
    border-radius: 15px;
    width: 950px;
    height: 600px;
    margin: auto;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    
}

#slider{
    display:flex;
    
}

#products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding: 20px;
    grid-gap: 40px;
    align-items: center;
   
}
.nav-item{
    margin: 5px;
}

#content {
    display: flex;
    align-items: center;
    padding: 10px;
}

#form{
    align-items: center;
    margin: auto;
    border: 1px solid rgb(184, 183, 183);
    padding: 50px;
    width: 50%;
    border-radius: 10px;
}

#success {
    border: 1px solid rgb(184, 183, 183);
    align-items: center;
    margin: auto;
    border-radius: 10px;
    align-content: center;
    width: 750px;
    padding: 20px;
}

#success p{
    margin: 15px;
}

#container{
    display: flex;
}

#about{
    margin: auto;
    align-items:baseline;
    width: 50%;
    padding: 50px;
}

.features{

    width: 100px;
    height: 100px;
}

#info{
    width: 50%;
    padding: 50px;

}

#cartItems, #orderForm {
    border: 1px solid rgb(184, 183, 183);
    align-items: center;
    margin: auto;
    border-radius: 10px;
    align-content: center;
    width: 750px;
    padding: 20px;
    margin-top: 10px;
}

.card:hover{
    border: 2px solid rgb(94, 124, 165);
}



